# Configuração da Aplicação
APP_PORT=8080
BASE_URL=

# Configuração do Banco de Dados PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_PORT_HOST=5432
DB_DATABASE=curriculos_db
DB_USER=curriculos_user
DB_PASSWORD=curriculos_pass
